<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Info</title>
</head>
<body>
<div align="center">
    <h1>Customer Information</h1>
    <br/>
    <form  th:object="${customer}" method="post">
        <table border="0" cellpadding="10">
            <tr>
<!--                <a th:href="@{'/customer/'  + ${customer.customerId} + '/cart/' }">Cart</a>-->
<!--                <br/><br/>-->
<!--                <a th:href="@{'/customer/'  + ${customer.customerId} + '/wishlist/' }">WishList</a>-->
                <a th:href="@{'/cartlist/' }">Cart</a>
                <br/><br/>
                <a th:href="@{'/wishlist/' }">WishList</a>
            </tr>
            <tr th:text="${customer.customerId}">Customer ID</tr>
            <tr th:text="${customer.firstName}">First Name</tr>
            <tr th:text="${customer.lastName}">Last Name</tr>
            <tr th:text="${customer.email}">Email</tr>
            <tr th:text="${customer.phoneNumber}">Phone Number</tr>
            <tr th:text="${customer.accountName}">Account Name</tr>
            <tr th:text="${customer.addressLine1}">Address Line 1</tr>
            <tr th:text="${customer.addressLine2}">Address Line 2</tr>
            <tr th:text="${customer.city}">City</tr>
            <tr th:text="${customer.country}">Country</tr>
        </table>
    </form>
</div>
</body>
</html>