<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <img src="https://www.opencart.com/application/view/image/icon/opencart-logo.png" alt="OpenCart" width="350" height="100">
    <form name='login-form' th:action="@{/j_spring_security_login}" method='POST'>
        <table>
            <tr>
                <td><input name="Login" type="submit" value="Login" /></td>
                <td><input name="Register" type="submit" value="Register" /></td>
            </tr>
        </table>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>
    </form>
</body>
</html>