<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
<!--    <link rel="stylesheet"type="text/css" href="../static/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h1>Open Cart Project</h1>
    <h2>Please enter your account:</h2>
    <form>
        <label>Account</label><input type="text" name="Account"/>
        </br>
        <label>Password</label><input type="text" name="Password"/>
        </br>
        <button type="submit">Login</button>
    </form>
</body>
</html>